<!DOCTYPE html>
<html lang="en">

<head>
	{{>headerLinks}}
</head>

<body>
	{{>navbar}}
	<header>
		<main class="main">
			<div class="leftSide">
				<h3>hello</h3>
				<h1>i am Nishant Argade</h1>
				<h2>web developer and coder</h2>
				<a href="#" class="btn1">Hire me</a>
				<a href="#" class="btn2">Contact</a>
			</div>
			<div class="rightSide">
				<img src="Imgs/computerMan.png"">
			</div>
		</main>
	</header>

		{{>footer}}
</body>

</html>